.icommentjs {
display:none;
}

.markeredBlock{
padding-left:0px;
}
html{
width:500px;
}
.markeredBlock.torType.filmType::before {
content:none;
}
.ka-music-note::before, .markeredBlock.torType.musicType::before {
content:none;
}
